    <header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0 ">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ path('home') }}"><span style="color: #5e9693;">Mon</span><span style="color: #777;">projet</span></a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">

        {% if app.user %}

        {% if app.user.roles[0] is same as "ROLE_ADMIN" %}

          <li class="nav-item">
            <a class="nav-link" href="{{ path('admin') }}">Adminnistration</a>
          </li>

          {% endif %}
           <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
          </li>

          {% else  %}

          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
          </li>

          {% endif %}

          {% for category in categoryRepository.findAll() %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('boutique_product_show_by_category',{'id':category.id}) }}">
            {{ category.name }}
            </a>
          </li>

          {% endfor %}

          
           
         </ul>

       

      </div>
         <div class="d-flex">
        <a class="nav-link text-secondary
        " aria-current="page" href="{{ path('profile_detail') }}"><span style="color: #5e9693;">Mon compte</span><span style="color: #777;"></span><i class="fas fa-user"></i>
          </a>
          <a class="nav-link text-secondary" aria-current="page" href="{{ path('cart_detail') }}"><span style="color: #5e9693;">Mon panier</span><span style="color: #777;"></span> <i class="fas fa-shopping-bag"></i>
          </a>
          
        </div>
    </div>
    
  </nav>

  
  <!-- Navbar -->

  <!--Section: Design Block-->
  <section>
    <!-- Intro -->
    <div id="intro" class="bg-image vh-100" style="
          background-image: url('https://mdbootstrap.com/img/Photos/new-templates/psychologist/img1.jpg');
        " >
      <div class="mask" style="background-color: rgba(250, 182, 162, 0.15);"></div>
    </div>
    <!-- Intro -->
  </section>
  <!--Section: Design Block-->
</header>



