<nav class="navbar navbar-expand-md navbar-dark  fixed-top bg-dark mb-5">
        <a class="navbar-brand ms-3 " href="{{ path('admin') }}">Administration</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
          <a class="nav-link " aria-current="page" href="{{ path('home') }}"><span style="color: #5e9693;">Revenir au site</span></a>
        </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_category_index')}}">Catégories</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="{{ path('admin_product_index')}}" tabindex="-1" aria-disabled="true">Produits</a>
                </li>
                <li class="nav-item">
          <a class="nav-link " aria-current="page" href="{{ path('admin_user_list') }}">Utilisateur</a>
        </li>
            </ul>
        </div>
    </nav>